@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
}

:root {
  --background: #ffffff;
  --foreground: #09090b;
  --border: #e4e4e7;
}

.dark {
  --background: #09090b;
  --foreground: #fafafa;
  --border: #27272a;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease;
}