@import "tailwindcss";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #09090b;
    --border: #e4e4e7;
    --radius: 0.75rem;
  }

  .dark {
    --background: #09090b;
    --foreground: #fafafa;
    --border: #27272a;
  }
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}